
<div style="min-height: 500px">
<ul class="posts" style="white-space:nowrap;padding-left: 0px;">
    {% if posts!=False  %}

        {% for post in posts  %}
        <li class="post"  style="display:inline" >
        <div class="post-thumbnail" onclick="location.href='{{ url_for('.post',id=post.id)}}'" style="cursor:pointer;">
            <a href="{{ url_for('.user',username=post.get_author().username) }}">
                {% if post.get_author().head_portrait!=none %}
                <img class="img-circle profile-thumbnail" src="/static/img/head_portrait/{{ post.get_author().head_portrait }}" style="width: 30px;height: 20%" >
                {% else %}
                <img class="img-circle profile-thumbnail" src="/static/img/head_portrait/0.png" style="width: 40px;height: 20%" >
                {% endif %}

            </a>

            <a href="{{ url_for('.user',username=post.get_author().username) }}">
                {{ post.get_author().username }}
            </a>
            {{ moment.include_moment() }}
            {{ moment.lang("zh-CN") }}
            <span style="float:right">
           {{moment(post.timestamp).format('YYYY年M月D日')}}
            </span>

           <h3 style="margin-top: 5px;margin-bottom: 5px">{{ post.title }}</h3>

        {% if post.digest %}

            <p>
                {{ post.digest }}
             {% if current_user.is_authenticated and post.author_id==current_user.id %}
            <span style="float:right">
           <a href="{{ url_for('auth.edit_post',id=post.id) }}">编辑文章</a>
            </span>
                 {% endif %}

            </p>
        {% endif %}

        </div>
        </li>
            <br>
        {% endfor %}
    {% endif %}

</ul>

</div>
