{% extends "bootstrap/base.html" %}




{% block title %}Valkyrie{% endblock %}
{% block head %}
    {{ super() }}

  <link rel="shortcut icon" type="image/x-icon" href="/static/img/default/233.jpg"/>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"> </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"> </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"> </script>
{% endblock %}

{% block body %}
<div class="container" style="width:95%">

{% block navbar %}
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<div class="navbar-custom" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('auth.write_post') }}">写文章</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index')}}">
                    Home </a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.article')}}">
                    看文章 </a></li>
            </ul>
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user',username=current_user.username) }}">
                    个人资料</a></li>

                {% endif %}
            </ul>
             <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{url_for('auth.logout')}}">Sign Out</a>
            </li>
            {% else %}
            <li><a href="{{url_for('auth.login')}}">Sign in</a>
            </li>
            {% endif %}
        </div>
    </div>
{% endblock %}

<div class="row clearfix">


<div class="col-md-2 column" style="width:10%">
    <div style="margin-top: 200px;">
    <p>

    </p>
       </div>
</div>

<div class="col-md-6 column" style="width:70%">

{% block page_content %}

{% endblock %}

</div>


<div class="col-md-4 column" style="width:15%">
    <div class="page [secondary] with-sidebar">
    <img  src="/static/img/default/233.jpg" class="img-circle" style="
    width: 200px;"/>
			<h3>
             <em>
             <p>Free coder</p>
            <p>like Python      </p>
            <p>like  ACGN       </p>
            </em>
            </h3>



			<p>
                 <img src="/static/img/default/github.png">
				 <a class="btn" href="https://github.com/rushtang/myweb.git"
                 src="/static/img/default/github.png"
                 >github »</a>
			</p>

            <p>
                <img src="/static/img/default/简书.ico">
				 <a class="btn" href="http://www.jianshu.com/u/39f616e056e2"
                 >简书 »</a>
			</p>
            <p>
                <img src="/static/img/default/bangumi.png">
				 <a class="btn" href="http://bangumi.tv/user/327465"
                 >bangumi »</a>
			</p>

    <p>
    <span class="label label-default"></span>
    <span class="label label-default"></span>
    </p>
</div>
</div>
{% block scripts %}
     {{ super() }}
{%- endblock scripts %}

</div>
    </div>
{% endblock %}


