{% extends "bootstrap/base.html" %}




{% block title %}Valkyrie{% endblock %}
{% block head %}
    {{ super() }}

  <link rel="shortcut icon" type="image/x-icon" href="/static/img/default/233.jpg"/>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"> </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"> </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"> </script>
{% endblock %}

{% block body %}
<div class="container" style="width:95%">

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('auth.write_post') }}">写文章</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index')}}">
                    Home </a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.article')}}">
                    看文章 </a></li>
            </ul>
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user',username=current_user.username) }}">
                    个人资料</a></li>

                {% endif %}
            </ul>
             <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{url_for('auth.logout')}}">Sign Out</a>
            </li>
            {% else %}
            <li><a href="{{url_for('auth.login')}}">Sign in</a>
            </li>
            {% endif %}
        </div>
    </div>
{% endblock %}

<div class="row clearfix">


<div class="col-md-2 column" style="width:10%">
    <div style="margin-top: 200px;">
    <p>

    </p>
       </div>
</div>

<div class="col-md-6 column" style="width:70%">

{% block page_content %}

{% endblock %}

</div>


<div class="col-md-4 column" style="width:15%">
    <img  src="/static/img/default/233.jpg" class="img-circle" style="
    width: 200px;"/>
			<h2>
				Hello
			</h2>
			<p>Free Software developer</p>
            <p>I code in Python      </p>
             <p>  I like ACGN       </p>

			<p>
				 <a class="btn" href="https://github.com/rushtang/myweb.git">github »</a>
			</p>

    <img  src="/static/img/default/darksouls.jpg" class="img-rounded" style="width: 200px;" />
    <p>
    <span class="label label-default"></span>
    <span class="label label-default"></span>
    </p>
</div>

{% block scripts %}
     {{ super() }}
{%- endblock scripts %}

</div>
    </div>
{% endblock %}


